#side-panel #post-content {
    line-height: 1.28;
    font-size: 11px;
}
input#GroupSlug {
	clear: both;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    border-color: #cecece;
    width: 200px;
    display: inline;
}

input.label#GroupSlug {
    border: 0;
    font-size: 10px;
    font-family: sans-serif;
}

span#GroupSlugLabel {
    font-size: 10px;
    font-family: sans-serif;
}

ul#group-list {
    list-style-type: circle; 
}

ul#group-list ul li {
   margin-left: 10px; 
   padding-top: 5px;
   list-style-type: disc;
}

div.group-widget {
    padding-bottom: 15px;
}

.page-title {
    /* assume all items will be sounds rather than wait for onload etc. in this example.. may differ for your uses. */
    position:relative; 
    display:block; 
    font-size:36px; 
    color:#666; 
    padding:0.25em 0.5em 0.25em 0.5em; 
    border:none; 
    letter-spacing:-1px; /* ZOMG WEB X.0. ;) */ 
    background-color:#f9f9f9; 
    
    -webkit-transition-property: hover; 
    -webkit-transition: background-color 0.15s ease-in-out; 
    
    -moz-transition: background-color 0.15s linear 0s; /* firefox 4 */ 

    -o-transition-property: background-color; /* opera 10.5 */ 
    -o-transition-duration: 0.15s;

    list-style-type:none; 
    margin: 20px 0px 10px 0px; 
    padding: 10px; 

    display:block; 
    text-decoration:none; 
    font-weight:normal; 
    color:#000; 
    font-size: 32px; 
    outline:none; 
    position:relative; 
    z-index:2; 
}
/** NOTICES & MESSAGES */
div.validated { 
    clear: both; 
    color: #fff; 
    font-weight: bold; 
    background: #0F903F; 
}
                
